*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
    background-image: url(/img/fundo-rio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal {
    background-color: white;
    width: 460px;
    border-radius: 10px;
}

header {
    text-align: center;
    margin: 20px;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
}

#todo-form {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

#todo-input {
    width: 250px;
    height: 30px;
    text-align: left;
}

#control-form button {
    height: 30px;
    width: 40px;
    font-size: 16px;
}

#edit-form {
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

#edit-input {
    width: 250px;
    height: 30px;
    text-align: left;
}

#cancel-edit-btn {
    height: 30px;
    width: 100px;
    margin-top: 20px;
}

#toolbar {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid gray;
    width: 90%;
}

#search-input {
    width: 250px;
    height: 30px;
}

#erase-button {
    width: 40px;
    height: 30px;
}

#filter {
    margin-left: 15px;
}

#filter-select {
    text-align: center;
    height: 30px;
    width: 90px;
}