*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
    background-image: url(/img/fundo-rio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ;
    cursor: pointer;
    width: 40px;
}

button:hover {
    background-color: #102f5e;
    color: white;
    transition: .3s;
}

button:hover > i {
    color: white;
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 5px;
}

.esconde {
    display: none;
}
 
.container-principal {
    background-color: white;
    border-radius: 10px;
    width: 460px;
    margin: 3rem auto;
    padding: 1.5rem;
}

.container-principal header {
    text-align: center;
    padding: 0 1rem 1rem;
    font-size: 1.3rem;
    border-bottom: 1px solid #ddd;
}

#todo-form {
    font-size: 20px;
    padding: 1rem;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

#edit-form {
    font-size: 20px;
    padding: 1rem;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#control-form {
    display: flex;
}

#control-form button {
    margin-left: 0.3rem;
}

#cancel-edit-btn {
    height: 30px;
    width: 100px;
    margin-top: 1rem;
}

#toolbar {
    display: flex;
    margin-top: 20px;
    padding: 1rem;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search-input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
    height: 30px;
    width: 40px;
}

.done {
    background-color: #102f5e;
    font-style: italic;
    color: white;
    text-decoration: line-through;
}

#todo-input {
    width: 250px;
    height: 30px;
}









